In [1]:
import os
os.listdir()

['.ipynb_checkpoints',
 'read_data.ipynb',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'testing.ipynb']

In [2]:
import pandas

In [3]:
df1 = pandas.read_csv("supermarkets.csv")
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [4]:
df2 = pandas.read_json("supermarkets.json")
df2

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [5]:
df3 = pandas.read_excel("supermarkets.xlsx", sheet_name=0)
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [6]:
df4 = pandas.read_csv("supermarkets-commas.txt")
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [7]:
df5 = pandas.read_csv("supermarkets-semi-colons.txt", sep=";")
df5

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [8]:
df5.set_index("ID", inplace=True)
df5

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [9]:
df5.loc[3:4, "Name": "Employees"]

            Name  Employees
ID
3    Super River         25
4     Ben's Shop         10

In [10]:
df5.loc[3, "Name"]

' Super River'

In [11]:
df5.loc[:, "Address"]

ID
1       3666 21st St
2     735 Dolores St
3        332 Hill St
4       3995 23rd St
5    1056 Sanchez St
6    551 Alvarado St
Name: Address, dtype: object

In [12]:
list(df5.loc[:, "Employees"])

[8, 15, 25, 10, 12, 20]

In [13]:
df5

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [14]:
df5.iloc[3:, 4:6]

          Name  Employees
ID
4   Ben's Shop         10
5      Sanchez         12
6   Richvalley         20

In [15]:
df5

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [16]:
df5.drop("Country", 1)

            Address           City             State          Name  Employees
ID
1      3666 21st St  San Francisco          CA 94114       Madeira          8
2    735 Dolores St  San Francisco          CA 94119   Bready Shop         15
3       332 Hill St  San Francisco  California 94114   Super River         25
4      3995 23rd St  San Francisco          CA 94114    Ben's Shop         10
5   1056 Sanchez St  San Francisco        California       Sanchez         12
6   551 Alvarado St  San Francisco          CA 94114    Richvalley         20

In [17]:
df5.drop(5)

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [18]:
df5.drop(df5.index[2:])

           Address           City     State Country         Name  Employees
ID
1     3666 21st St  San Francisco  CA 94114     USA      Madeira          8
2   735 Dolores St  San Francisco  CA 94119     USA  Bready Shop         15

In [19]:
df5.drop(df5.columns[2:4], 1)

            Address           City          Name  Employees
ID
1      3666 21st St  San Francisco       Madeira          8
2    735 Dolores St  San Francisco   Bready Shop         15
3       332 Hill St  San Francisco   Super River         25
4      3995 23rd St  San Francisco    Ben's Shop         10
5   1056 Sanchez St  San Francisco       Sanchez         12
6   551 Alvarado St  San Francisco    Richvalley         20

In [20]:
df5["Continent"] = df5.shape[0] * ["North America"]

In [21]:
df5

,Address,City,State,Country,Name,Employees,Continent
ID,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America

In [22]:
df5["Comment"] = df5.shape[0] * [""]

In [23]:
df5

,Address,City,State,Country,Name,Employees,Continent,Comment
ID,,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America,
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America,
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America,
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America,
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America,
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America,

In [24]:
df5["Comment"] = df5["Name"] + ", " + df5["Address"]
df5

,Address,City,State,Country,Name,Employees,Continent,Comment
ID,,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America,"Madeira, 3666 21st St"
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America,"Bready Shop, 735 Dolores St"
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America,"Super River, 332 Hill St"
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America,"Ben's Shop, 3995 23rd St"
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America,"Sanchez, 1056 Sanchez St"
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America,"Richvalley, 551 Alvarado St"

In [26]:
import geopy
dir(geopy)

['ArcGIS',
 'AzureMaps',
 'BANFrance',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeEarth',
 'GeocodeFarm',
 'Geolake',
 'GoogleV3',
 'Here',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'MapBox',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Pelias',
 'Photon',
 'PickPoint',
 'Point',
 'Timezone',
 'TomTom',
 'What3Words',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'timezone',
 'units',
 'util']

In [30]:
from geopy.geocoders import ArcGIS
arc = ArcGIS()

In [37]:
l = arc.geocode("551 Alvarado St, San Francisco, CA 94114")
l

Location(551 Alvarado St, San Francisco, California, 94114, (37.75371876406616, -122.43323998612154, 0.0))

In [36]:
print(f"{l.latitude}, {l.longitude}")

37.75371876406616, -122.43323998612154

In [40]:
df5.columns

Index(['Address', 'City', 'State', 'Country', 'Name', 'Employees', 'Continent',
       'Comment'],
      dtype='object')

In [46]:
df5["Full address"] = df5["Address"] + ", " + df5["City"] + ", " + df5["Country"]
df5

,Address,City,State,Country,Name,Employees,Continent,Comment,Full address
ID,,,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America,"Madeira, 3666 21st St","3666 21st St, San Francisco, USA"
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America,"Bready Shop, 735 Dolores St","735 Dolores St, San Francisco, USA"
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America,"Super River, 332 Hill St","332 Hill St, San Francisco, USA"
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America,"Ben's Shop, 3995 23rd St","3995 23rd St, San Francisco, USA"
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America,"Sanchez, 1056 Sanchez St","1056 Sanchez St, San Francisco, USA"
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America,"Richvalley, 551 Alvarado St","551 Alvarado St, San Francisco, USA"

In [48]:
df5["Location"] = df5["Full address"].apply(arc.geocode)
df5

,Address,City,State,Country,Name,Employees,Continent,Comment,Full address,Location
ID,,,,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America,"Madeira, 3666 21st St","3666 21st St, San Francisco, USA","(3666 21st St, San Francisco, California, 9411..."
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America,"Bready Shop, 735 Dolores St","735 Dolores St, San Francisco, USA","(735 Dolores St, San Francisco, California, 94..."
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America,"Super River, 332 Hill St","332 Hill St, San Francisco, USA","(332 Hill St, San Francisco, California, 94114..."
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America,"Ben's Shop, 3995 23rd St","3995 23rd St, San Francisco, USA","(3995 23rd St, San Francisco, California, 9411..."
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America,"Sanchez, 1056 Sanchez St","1056 Sanchez St, San Francisco, USA","(1056 Sanchez St, San Francisco, California, 9..."
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America,"Richvalley, 551 Alvarado St","551 Alvarado St, San Francisco, USA","(551 Alvarado St, San Francisco, California, 9..."

In [49]:
df5["Latitude"] = df5["Location"].apply(lambda x: x.latitude if x else None)
df5["Longitude"] = df5["Location"].apply(lambda x: x.longitude if x else None)
df5

,Address,City,State,Country,Name,Employees,Continent,Comment,Full address,Location,Latitude,Longitude
ID,,,,,,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America,"Madeira, 3666 21st St","3666 21st St, San Francisco, USA","(3666 21st St, San Francisco, California, 9411...",37.756450,-122.429364
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America,"Bready Shop, 735 Dolores St","735 Dolores St, San Francisco, USA","(735 Dolores St, San Francisco, California, 94...",37.757796,-122.425597
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America,"Super River, 332 Hill St","332 Hill St, San Francisco, USA","(332 Hill St, San Francisco, California, 94114...",37.755648,-122.428803
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America,"Ben's Shop, 3995 23rd St","3995 23rd St, San Francisco, USA","(3995 23rd St, San Francisco, California, 9411...",37.752991,-122.431702
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America,"Sanchez, 1056 Sanchez St","1056 Sanchez St, San Francisco, USA","(1056 Sanchez St, San Francisco, California, 9...",37.752129,-122.430028
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America,"Richvalley, 551 Alvarado St","551 Alvarado St, San Francisco, USA","(551 Alvarado St, San Francisco, California, 9...",37.753719,-122.433240